@model IPagedList<AracPlakaSistemi.ViewModels.Admin.KaraListeAracListViewModel>


<div class="products-list-tools clearfix">


    <a class="btn btn-primary btn-sm"
       data-modal-form="true"
       data-modal-size="modal-lg"
       data-modal-prepend="tbody#KaraListeAracList"
       data-modal-title="Araç Ekle"
       data-hook-beforeunload="true"
       data-modal-save-message="Araç kara listeye eklendi"
       href="@Url.Action("Add", "KaraListeArac")">
        <i class="fa fa-plus"></i>Kara Liste Araç Kayıt
    </a>





    <div class="pull-right hidden-xs hidden-sm">
        @if (Model.Any())
        {
            <div style="margin: 20px 0; float: left !important;">
                @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
            </div>
        }

        &nbsp;
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "KaraListeAracListContainer" }).Options(o => o
            .Action("AracList")
            .DisplayTemplate("BootstrapPage")
            .MaxNrOfPages(6)
            .AlwaysAddFirstPageNumber()
            )
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>

            <th>Adı</th>
            <th>Araç Plaka</th>
            <th>Araç Marka</th>
            <th>Araç Model</th>



            <th style="width:50px">Sil</th>
        </tr>
    </thead>
    <tbody id="KaraListeAracList">
        @Html.DisplayFor(m => m)


    </tbody>

</table>
<div class="pull-left">

    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "KaraListeAracListContainer" }).Options(o => o
        .Action("AracList")
        .DisplayTemplate("BootstrapPage")
        .MaxNrOfPages(6)
        .AlwaysAddFirstPageNumber()


        )
</div>
@if (Model.Any())
{
    <div style="margin: 20px 0; float: left !important;">
        @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
    </div>
}

