
@model AracPlakaSistemi.ViewModels.Admin.MisafirAracListViewModel
<tr id="@("arac_"+Model.Id)" class="master-row">

    <td>@Model.Ad</td>
    <td>
        @Model.Plaka
    </td>
    <td>@Model.Arac_Marka</td>
    <td>@Model.Arac_Model</td>
    <td>
        <a data-id="@Model.Id"
           class="deleteAndSaveMisafirArac btn btn-block btn-warning btn-sm">
            <i class="fa-solid fa-download"></i> Araç Kaydı Yap
        </a>

    </td>
    <td style="width:50px">
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#arac_@Model.Id"
           data-modal-highlight="#arac_@Model.Id"
           data-modal-title="Araç Düzenle"
           data-hook-beforeunload="true"
           class="btn btn-block btn-success btn-sm"
           href="@Url.Action("Edit", "MisafirArac", routeValues: new {carId=Model.Id})">
            <i class="fa fa-edit fa-fw text-success"></i> Araç Kaydı Düzenle
        </a>

    </td>
    <td style="width:50px">
        <a href="javascript:void(0);"
           data-toggle="confirmation"
           title="Emin Misiniz"
           data-btn-ok-label="Evet"
           data-btn-cancel-label="Hayır"
           data-placement="top"
           data-id="@Model.Id"
           data-on-confirm="deleteMisafirArac"
           class="btn btn-block btn-danger btn-sm">
            <i class="fa fa-trash fa-fw text-danger"></i> Araç Kaydı Sil
        </a>

    </td>
</tr>
