
@model AracPlakaSistemi.ViewModels.Admin.KaraListeAracListViewModel
<tr id="@("klarac_"+Model.Id)" class="master-row">

    <td>@Model.AdSoyad</td>
    <td>
        @Model.Plaka
    </td>
    <td>@Model.Arac_Marka</td>
    <td>@Model.Arac_Model</td>



    <td>
        <a data-id="@Model.Id"
           class="deleteBlackListCar btn btn-block btn-danger btn-sm">
            <i class="fa fa-trash fa-fw text-danger"></i> Sil
        </a>

    </td>
</tr>
