
@model AracPlakaSistemi.ViewModels.Admin.GirisYapanAracListViewModel

@if (Model.YeniAracMi)
{
    <tr style="background-color:steelblue" id="@("arac_"+Model.Id)" class="master-row">

        <td>@Model.Plaka</td>
        <td>@Model.GirisKapiAdresi</td>
        <td>@Model.Tarih.ToString("dd/MM/yyyy HH:mm")</td>
        <td style="width:50px">
            <a href="javascript:void(0);"
               data-toggle="confirmation"
               title="Emin Misiniz"
               data-btn-ok-label="Evet"
               data-btn-cancel-label="Hayır"
               data-placement="top"
               data-arac-id="@Model.Id"
               data-on-confirm="deleteGirisYapanArac"
               class="btn btn-block btn-danger btn-sm">
                <i class="fa fa-trash fa-fw text-danger"></i> Sil
            </a>

        </td>

    </tr>
}
@if (Model.KaraListeAracMi)
{
    <tr style="background-color:orangered" id="@("arac_"+Model.Id)" class="master-row">

        <td>@Model.Plaka</td>
        <td>@Model.GirisKapiAdresi</td>
        <td>@Model.Tarih.ToString("dd/MM/yyyy HH:mm")</td>
        <td style="width:50px">
            <a href="javascript:void(0);"
               data-toggle="confirmation"
               title="Emin Misiniz"
               data-btn-ok-label="Evet"
               data-btn-cancel-label="Hayır"
               data-placement="top"
               data-arac-id="@Model.Id"
               data-on-confirm="deleteGirisYapanArac"
               class="btn btn-block btn-danger btn-sm">
                <i class="fa fa-trash fa-fw text-danger"></i> Sil
            </a>

        </td>

    </tr>
}
@if (Model.MisafirAracMi)
{
    <tr style="background-color:orange" id="@("arac_"+Model.Id)" class="master-row">

        <td>@Model.Plaka</td>
        <td>@Model.GirisKapiAdresi</td>
        <td>@Model.Tarih.ToString("dd/MM/yyyy HH:mm")</td>
        <td style="width:50px">
            <a href="javascript:void(0);"
               data-toggle="confirmation"
               title="Emin Misiniz"
               data-btn-ok-label="Evet"
               data-btn-cancel-label="Hayır"
               data-placement="top"
               data-arac-id="@Model.Id"
               data-on-confirm="deleteGirisYapanArac"
               class="btn btn-block btn-danger btn-sm">
                <i class="fa fa-trash fa-fw text-danger"></i> Sil
            </a>

        </td>

    </tr>
}
@if (Model.KayitliAracMi)
{
    <tr style="background-color:green" id="@("arac_"+Model.Id)" class="master-row">

        <td>@Model.Plaka</td>
        <td>@Model.GirisKapiAdresi</td>
        <td>@Model.Tarih.ToString("dd/MM/yyyy HH:mm")</td>
        <td style="width:50px">
            <a href="javascript:void(0);"
               data-toggle="confirmation"
               title="Emin Misiniz"
               data-btn-ok-label="Evet"
               data-btn-cancel-label="Hayır"
               data-placement="top"
               data-arac-id="@Model.Id"
               data-on-confirm="deleteGirisYapanArac"
               class="btn btn-block btn-danger btn-sm">
                <i class="fa fa-trash fa-fw text-danger"></i> Sil
            </a>

        </td>

    </tr>
}

